export(PackageSummary, PackageSum2)

importFrom( brew, brew )
export(RSiteSearch.function,
       HTML)

S3method(HTML, RSiteSearch)
S3method(summary, RSiteSearch)
S3method(print, summary.RSiteSearch)
